<h3>Listing admins</h3>

<% option = { :width => 600, :height => 240, :title => 'Company Performance' }
@chart = GoogleVisualr::Interactive::AreaChart.new(@data_table, option) %>
<div id='chart'></div>
<%= render_chart(@chart, 'chart') %>


<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
    <th>League ID</th>
  </tr>

<% @admins.each do |admin| %>
  <tr>
    <td><%= link_to admin.name, edit_admin_path(admin) %></td>
    <td><%= admin.email %></td>
    <td><%= admin.company_name %></td>
    <td><%= admin.league_id %></td>
    <td><%= link_to 'Show', admin %></td>
  </tr>
<% end %>
</table>
