<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :league_id %><br />
    <%= f.text_field :league_id %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
