<h3>Listing users</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
    <th>League ID</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, edit_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.company_name %></td>
    <td><%= user.league_id %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>
