<% cache('challenges_cache') do %>
<tr>
  <td class="challenge">
    <span class="content"><%= challenge.name %></span>
  </td>
  <td><strong>Start:</strong><%= challenge.activation_date %></td>
  <td>
  <% unless challenge.eligible_members == nil %>
     <strong> Eligible:</strong><%= number_with_delimiter(challenge.eligible_members, :delimiter => ',') %>
  <% end %>
  <% unless challenge.teams.empty? %>

  <% @users_on_teams = 0
     @top_teams = []
     @top_teams = challenge.top_teams %>

  <strong>Registered:</strong><%= number_with_delimiter(@admin.num_users_registered, :delimiter => ',') %>
  <strong> Teams:</strong><%= challenge.num_teams %> (full:<%= challenge.full_teams %>) </td></tr>

<% if !session[:kiosk_mode] %>
  <% challenge.top_teams.take(5).each { |t| 		# top 5 teams %>
  <tr><td></td>
  <td><strong>Team:</strong><%= Team.find_by_id(t[0].to_i).name %><strong> Points:</strong><%= number_with_delimiter(t[1], :delimiter => ',') %></td>
  </tr> <% }%>

  <% end %>
  </td>
</tr>
<% end %>

<tr><td></td><td>
	<%  @data_table = GoogleVisualr::DataTable.new
    challenge.load_challenge_users_table(challenge.id, @data_table) %>

	<% option = { :width => 600, :height => 250, :title => 'Registrations' }
	@chart = GoogleVisualr::Interactive::AreaChart.new(@data_table, option) %>
	<div id='reg-chart'></div>
	<%= render_chart(@chart, 'reg-chart') %>

</td><td>
	<%  @data_table = GoogleVisualr::DataTable.new
    challenge.load_challenge_users_table(challenge.id, @data_table) %>

	<%  opts   = { :displayAnnotations => false }
    @chart = GoogleVisualr::Interactive::AnnotatedTimeLine.new(@data_table, opts)  %>

	<div id='annotated-chart' style='width: 500px; height: 240px;'></div>
	<%= render_chart(@chart, 'annotated-chart') %>

</td>
<tr>
<td></td><td>
	<%  @data_table = GoogleVisualr::DataTable.new
    challenge.load_challenge_points_table(challenge.id, @data_table) %>

	<% option = { :width => 600, :height => 250, :title => 'Points Activity' }
	@chart = GoogleVisualr::Interactive::AreaChart.new(@data_table, option) %>
	<div id='pts-chart'></div>
	<%= render_chart(@chart, 'pts-chart') %>

</td><td>
	<%  @data_table = GoogleVisualr::DataTable.new
    challenge.load_challenge_points_annotated_table(challenge.id, @data_table) %>

	<%  opts   = { :displayAnnotations => false }
    @chart = GoogleVisualr::Interactive::AnnotatedTimeLine.new(@data_table, opts)  %>

	<div id='annotated-points-chart' style='width: 500px; height: 240px;'></div>
	<%= render_chart(@chart, 'annotated-points-chart') %>

</td></tr>
<tr>
<td></td><td>
	<%  @data_table = GoogleVisualr::DataTable.new
    challenge.load_users_pie_table(challenge.id, @data_table) %>

	<%  opts   = { :width => 400, :height => 240, :title => 'Users', :is3D => true }
	@chart = GoogleVisualr::Interactive::PieChart.new(@data_table, opts)	%>

	<div id='pie-chart'></div>
	<%= render_chart @chart, 'pie-chart' %>		

</td></tr>

<% end %>
